/qld-agentsys/config/__pycache__
/qld-agentsys/db/__pycache__
/qld-agentsys/services/__pycache__
/qld-agentsys/agent/agent_tools/__pycache__
/qld-agentsys/agent/__pycache__
/qld-agentsys/agent/agent_prompt/__pycache__
qld-agentsys/.env
